* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
/*De aca a abajo es contactanos , hay que agregarlo a sass*/
body{
  display:grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin:0;
}
.titulo-contacto{
  margin-bottom: 30px;
}
.contactanos, .contacto-info{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background-color 
}

.titulo-contacto{
  text-align: center;
  font-size: 3em;
}

.contacto-form form p{
  margin: 0;
  padding: 1em;
  }

.contacto-form form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacto-form form .block{
grid-column: 1/3;
}

.contacto-form form button , .contacto-form form input , .contacto-form form textarea{
  width: 100%;
  padding: .7em;
  border:none;
  background: none;
  outline: 0;
  border-bottom:1px solid rgba(10, 134, 134, 0.726);
}

.contenedor-formulario{
  box-shadow: 0 0 20px 0 rgba(2, 29, 24, 0.719);
  padding: 1em;
}
.contacto-form form button{

  background: rgba(0, 255, 255, 0.377);
  border: 0;
  text-transform: uppercase;
  
}
.contacto-form form button:hover ,.contacto-form form button:focus{
  background:rgb(3, 133, 133) ;
  color: black;
  transition: background-color is ease-out;
  outline: 0;
}

.contacto-info{
  background:rgba(29, 27, 27, 0.562);
  color: aliceblue;
  }

  .contacto-info h4 , .contacto-info  ul , .contacto-info p{
    text-align: center;
    margin: 0 0 1rem 0;
  }
    
  .contacto-info a{
    text-decoration: none;
    color: white;
  }
  .contacto-info a:hover{
    color: rgba(12, 196, 196, 0.274);
  }
  
  .contacto-info ul li{
    padding: .3em;
  }
  /*De aca a abajo es como comprar , hay que agregarlo a sass*/
  .encabezado-como-comprar{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titulo-como-comprar{
    padding-top: 20px ;
    font-size: 30px ;
    font-weight: 800;
    
  }
  .subtitulo-como-comprar{
    font-size: 15px;
    padding-bottom: 30px;
    font-weight: 300;
  }
  .contenedor-como-comprar{
  background-color: #f0f0f0;;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
}

.contenedor-como-comprar{

  justify-content:space-around;
  row-gap: 30rem;
}
.box1-como-comprar, .box2-como-comprar , .box3-como-comprar{

  text-align: center;
  
  height: 250px;
  width: 350px;
  padding: 15px;
  
}
.h2-como-comprar{
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.h3-como-comprar{
  padding-top: 10px;
  font-size: 15px;
  font-weight: 300;
  

}
.iconos-como-compar{
  padding-top: 10px;
  width: 100px
}

/*acordeon*/
.contenedor-acordeon{
  text-align: center;
}
.titulo-acordeon{
  padding-top: 20px;
  font-weight: 700;
  font-size: medium;
}
.accordion{
  padding: 100px;
  padding-top: 20px;
}


/*De aca a abajo es talles , hay que agregarlo a sass*/
.contenedor-talles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 30px;
        padding: 20px;
        padding-bottom: 50px;
        }

      
.talles-card {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        box-shadow: 2px 2px 6px 6px rgba(9, 22, 199, 0.185);
        font-size: 15px;
        border-radius: 3%;
        background-color: rgba(238, 233, 233, 0.377);
        
        }
.talles-card-mujer{
  border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        box-shadow: 2px 2px 6px 6px rgba(182, 22, 147, 0.418);
        font-size: 15px;
        border-radius: 3%;
        background-color: rgba(238, 233, 233, 0.377);
}

.titulo-tarjeta{
  font-size: 20px;
  padding-bottom: 20px;
}
.titulo-talles{
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
.imagen-talles {
  width: 70%;
  height: 60%;
}
.imagen-tabla-talles{
  width: 50%;
  height: 30%;
  padding:8px;
}



/*De aca a abajo es tienda , hay que agregarlo a sass*/
/* Estilos para la barra de filtro */
        .barra-filtro {
            background-color: #f0f0f0;
            color: black;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
 
/* Estilos para los selectores y botones de filtro tienda */
        select, input, button {
            padding: 10px;
            border-radius: 7px;
            margin: 5px;
            background-color: rgba(194, 194, 194, 0.24);
            border: 1px solid rgba(177, 174, 174, 0.466);
        }

.contenedor-tienda {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 50px; 
  
}

.tienda-item {
  background-color: #ffffff;
  padding: 30px;
  margin: 30px;
  text-align: center;
  box-shadow: 2px 2px 6px 6px rgba(56, 55, 56, 0.418);
  border-radius: 10px;
  
}
.img-tienda{
  width: 70%;
  height: 50%;
  border-radius: 20px;
}
.titulo-producto{
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 3px;
}

.description-producto{
font-size: 15px;
padding-bottom: 4px;
}

.talles-producto{

font-size:13px ;
padding-bottom:10px;

}

.precio-producto{
font-size: 20px;
margin-bottom: 50px;
}


.boton-producto{
font-size: 20px;
padding: 40px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
text-decoration: none;
color: black;
border: 2px solid rgba(0, 255, 255, 0.507);
}
.boton-producto:hover {
  background-color: rgba(42, 180, 134, 0.555);
}



  /*De aca para abajo tiene sass*/

.formulario{
  width:800px;
  
}
.destacado {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


/*Agregar a sass*/
.gmail{
  text-decoration: none;
}
.gmail:hover{
  color: rgba(18, 114, 114, 0.747);
}
.contenedor_footer {
  width: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
}
.contenedor_footer a {
  color: black;
}
.contenedor_footer div {
  display: flex;
  align-items: center;
  
}
.contenedor_footer .caja1, .contenedor_footer .caja2, .contenedor_footer .caja3, .contenedor_footer .caja4 {
  background-color: #f0f0f0;
  text-align: center;
  justify-content: center;
}
.contenedor_footer .caja1 .img_footer, .contenedor_footer .caja2 .img_footer, .contenedor_footer .caja3 .img_footer, .contenedor_footer .caja4 .img_footer {
  width: 50%;
  height: 50%;
  font-size: small;
}
.contenedor_footer .caja1 {
  padding-top: 1rem;
  width: 150px;
  height: 80px;
  align-content: center;
  text-align: center;
  font-size: 10px;
}
.contenedor_footer .caja2 {
  width: 150px;
  height: 80px;
  align-content: center;
  font-size: 10px;
}
.contenedor_footer .caja3 {
  width: 150px;
  height: 80px;
  align-content: center;
  font-size: 10px;
}
.contenedor_footer .caja4 {
  width: 150px;
  height: 80px;
  align-content: center;
  font-size: 10px;
}
/*Agregar a sass*/

@media screen and (min-width: 1024px) {
  .menu_item.active {
    background-color: #DFD4C8;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin: 5px;
  }
/* talles Agregar a sass*/
  .contenedor-talles {
                grid-template-columns: repeat(4, 1fr);
              }  
}

/*Nuevo sin SASS*/
@media (min-width: 700px) {  

  .titulo-contacto{
    margin-bottom: 50px;
  }
.contenedor-formulario{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contenedor-formulario > * {
  padding: 2em;
}
.contacto-info ul , .contacto-info p{
  padding :1rem;
}
    .contacto-info h4,
    .contacto-info ul,
    .contacto-inf ul li,
    .contacto-info p {
      text-align: left;
    }
}





@media screen and (max-width: 900px) {

  /*Body*/
  .contenedor_catalogo {
    width: 100%;
    height: 200px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box3" "box4 box5 box6 box7 box8 box 9 box10";
  }


/*nuevo sin css - como comprar  */
  .contenedor-como-comprar{
    background-color: #f0f0f0;;
    display:grid;
    grid-template-rows: 1fr;
    display: flex;
    flex-direction: column;
  
  }
  .box1-como-comprar, .box2-como-comprar , .box3-como-comprar{
    height:300px;
    width: 200px;
    text-align: center;
    align-items: center;
    
  }
  .contenedor-como-comprar{

    flex-flow: row wrap;
    row-gap: 5rem;
  }

/*# media queris talles , sin sass*/
  .contenedor-talles {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            }

            .titulo-tarjeta{
              font-size:15px;
              padding-bottom: 4px;
            }

            .imagen-talles {
              width: 70%;
              height: 50%;
            }
            .imagen-tabla-talles{
              width: 75%;
              height: 35%;
              padding:3px;
            }
/*# nuevo sin sass de tiendas  */
 /* barra de filtro de tienda  */
 .barra-filtro {
  flex-direction: column;
  align-items: flex-start;
}
.tienda-item {
  grid-column: span 2; /* Dos columnas en pantallas muy pequeñas */
}
}/*# sourceMappingURL=style.css.map */