* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}

/*divisor del index*/
.contenedor-como-comprar-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  align-items: center;
  flex-grow: wrap;
  gap: 150px;
  padding-top: 50px;
}
.contenedor-como-comprar-index .box-divisor-index {
  height: 150px;
  width: 200px;
  text-align: center;
  align-items: center;
}
.contenedor-como-comprar-index .box-divisor-index .h2-divisor-index {
  margin-top: 5px;
  font-size: 15px;
  color: gray;
}
.contenedor-como-comprar-index .box-divisor-index .h3-divisor-index {
  margin-top: 5px;
  font-size: 10px;
  color: gray;
}

.grid-accesos-inicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columnas de igual ancho */
  grid-gap: 20px;
  /* Espacio entre las celdas */
}
.grid-accesos-inicio .grid-item-accesos {
  padding: 20px;
  text-align: center;
}
.grid-accesos-inicio .grid-item-accesos .imagen-accesos {
  width: 50%;
  height: 80%;
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.418);
  border-radius: 5px;
}

/*tarjetas de index sin sass*/
/* Estilos para la barra de filtro */
.barra-filtro {
  background-color: #f0f0f0;
  color: black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.barra-filtro select,
.barra-filtro input,
.barra-filtro button {
  padding: 10px;
  border-radius: 7px;
  margin: 5px;
  background-color: rgba(194, 194, 194, 0.24);
  border: 1px solid rgba(177, 174, 174, 0.466);
}

.contenedor-tienda {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}
.contenedor-tienda .tienda-item {
  background-color: #ffffff;
  padding: 30px;
  margin: 30px;
  text-align: center;
  box-shadow: 2px 2px 6px 6px rgba(56, 55, 56, 0.418);
  border-radius: 10px;
}
.contenedor-tienda .tienda-item .img-tienda {
  width: 70%;
  height: 50%;
  border-radius: 20px;
}
.contenedor-tienda .tienda-item .titulo-producto {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 3px;
}
.contenedor-tienda .tienda-item .description-producto {
  font-size: 15px;
  padding-bottom: 4px;
}
.contenedor-tienda .tienda-item .talles-producto {
  font-size: 13px;
  padding-bottom: 10px;
}
.contenedor-tienda .tienda-item .precio-producto {
  font-size: 20px;
  margin-bottom: 50px;
}
.contenedor-tienda .tienda-item .boton-producto {
  font-size: 20px;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  border: 2px solid rgba(0, 255, 255, 0.507);
}
.contenedor-tienda .tienda-item .boton-producto:hover {
  background-color: rgba(42, 180, 134, 0.555);
}

/*De aca a abajo es como comprar , hay que agregarlo a sass*/
.como-comprar .encabezado-como-comprar {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.como-comprar .encabezado-como-comprar .titulo-como-comprar {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 800;
}
.como-comprar .encabezado-como-comprar .subtitulo-como-comprar {
  font-size: 15px;
  padding-bottom: 30px;
  font-weight: 300;
}
.como-comprar .contenedor-como-comprar {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: space-around;
  row-gap: 30rem;
}
.como-comprar .contenedor-como-comprar .box1-como-comprar,
.como-comprar .contenedor-como-comprar .box2-como-comprar,
.como-comprar .contenedor-como-comprar .box3-como-comprar {
  text-align: center;
  height: 250px;
  width: 350px;
  padding: 15px;
}
.como-comprar .contenedor-como-comprar .box1-como-comprar .h2-como-comprar,
.como-comprar .contenedor-como-comprar .box2-como-comprar .h2-como-comprar,
.como-comprar .contenedor-como-comprar .box3-como-comprar .h2-como-comprar {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.como-comprar .contenedor-como-comprar .box1-como-comprar .h3-como-comprar,
.como-comprar .contenedor-como-comprar .box2-como-comprar .h3-como-comprar,
.como-comprar .contenedor-como-comprar .box3-como-comprar .h3-como-comprar {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

/*acordeon*/
.contenedor-acordeon {
  text-align: center;
}
.contenedor-acordeon .titulo-acordeon {
  padding-top: 20px;
  font-weight: 700;
  font-size: medium;
}
.contenedor-acordeon .accordion {
  padding: 100px;
  padding-top: 20px;
}

/*De aca a abajo es talles , hay que agregarlo a sass*/
.contenedor-talles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  padding: 20px;
  padding-bottom: 50px;
}
.contenedor-talles .talles-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 6px 6px rgba(9, 22, 199, 0.185);
  font-size: 15px;
  border-radius: 3%;
  background-color: rgba(238, 233, 233, 0.377);
}
.contenedor-talles .talles-card .titulo-tarjeta {
  font-size: 20px;
  padding-bottom: 20px;
}
.contenedor-talles .talles-card .imagen-talles {
  width: 70%;
  height: 60%;
}
.contenedor-talles .talles-card .imagen-tabla-talles {
  width: 50%;
  height: 30%;
  padding: 8px;
}

.contenedor_footer {
  width: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
}

.contenedor_footer a {
  color: black;
}

.contenedor_footer div {
  display: flex;
  align-items: center;
}

.contenedor_footer .caja1,
.contenedor_footer .caja2,
.contenedor_footer .caja3,
.contenedor_footer .caja4 {
  background-color: #f0f0f0;
  text-align: center;
  justify-content: center;
}

.contenedor_footer .caja1 .img_footer,
.contenedor_footer .caja2 .img_footer,
.contenedor_footer .caja3 .img_footer,
.contenedor_footer .caja4 .img_footer {
  width: 50%;
  height: 50%;
  font-size: small;
}

.contenedor_footer .caja1 {
  padding-top: 1rem;
  width: 150px;
  height: 80px;
  align-content: center;
  text-align: center;
  font-size: 10px;
}

.contenedor_footer .caja2 {
  width: 150px;
  height: 80px;
  align-content: center;
  font-size: 10px;
}

.contenedor_footer .caja3 {
  width: 150px;
  height: 80px;
  align-content: center;
  font-size: 10px;
}

.contenedor_footer .caja4 {
  width: 150px;
  height: 80px;
  align-content: center;
  font-size: 10px;
}

@media (max-width: 768px) {
  .grid-accesos-inicio {
    grid-template-columns: 1fr;
  }
  .contenedor-como-comprar-index {
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 700px) {
  .contactanos .titulo-contacto {
    margin-bottom: 50px;
  }
  .contactanos .contenedor-formulario {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contactanos .contenedor-formulario > * {
    padding: 2em;
  }
  .contactanos .contacto-info ul,
  .contactanos .contacto-info p {
    padding: 1rem;
  }
  .contactanos .contacto-info h4,
  .contactanos .contacto-info ul,
  .contactanos .contacto-info ul li,
  .contactanos .contacto-info p {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .menu_item.active {
    background-color: #DFD4C8;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin: 5px;
  }
  .contenedor-talles {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  /*nuevo  - como comprar  */
  .contenedor-como-comprar {
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: 1fr;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    row-gap: 5rem;
  }
  .contenedor-como-comprar .box1-como-comprar,
  .contenedor-como-comprar .box2-como-comprar,
  .contenedor-como-comprar .box3-como-comprar {
    height: 300px;
    width: 200px;
    text-align: center;
    align-items: center;
  }
  /*# media queris talles , */
  .contenedor-talles {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .contenedor-talles .titulo-tarjeta {
    font-size: 15px;
    padding-bottom: 4px;
  }
  .contenedor-talles .imagen-talles {
    width: 70%;
    height: 50%;
  }
  .contenedor-talles .imagen-tabla-talles {
    width: 75%;
    height: 35%;
    padding: 3px;
  }
  /* barra de filtro de tienda  */
  .barra-filtro {
    flex-direction: column;
    align-items: flex-start;
  }
  .contenedor-tienda .tienda-item {
    grid-column: span 2;
  }
  /*Footer*/
  .footer {
    font-size: small;
    position: absolute;
    bottom: 0px;
  }
  .footer .contenedor_footer {
    display: grid;
    position: absolute;
    bottom: 0px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja4" "caja1 caja3 caja4";
  }
  .footer .contenedor_footer .img_footer {
    width: 60%;
    height: 60%;
  }
  .footer .caja1 ul li,
  .footer .caja2 ul li,
  .footer .caja3 ul li,
  .footer .caja4 ul li {
    font-size: x-small;
  }
}/*# sourceMappingURL=style.css.map */