.contenedor_footer {
    width: 100%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
}

.contenedor_footer a {
    color: black;
}

.contenedor_footer div {
    display: flex;
    align-items: center;

}

.contenedor_footer .caja1,
.contenedor_footer .caja2,
.contenedor_footer .caja3,
.contenedor_footer .caja4 {
    background-color: #f0f0f0;
    text-align: center;
    justify-content: center;
}

.contenedor_footer .caja1 .img_footer,
.contenedor_footer .caja2 .img_footer,
.contenedor_footer .caja3 .img_footer,
.contenedor_footer .caja4 .img_footer {
    width: 50%;
    height: 50%;
    font-size: small;
}

.contenedor_footer .caja1 {
    padding-top: 1rem;
    width: 150px;
    height: 80px;
    align-content: center;
    text-align: center;
    font-size: 10px;
}

.contenedor_footer .caja2 {
    width: 150px;
    height: 80px;
    align-content: center;
    font-size: 10px;
}

.contenedor_footer .caja3 {
    width: 150px;
    height: 80px;
    align-content: center;
    font-size: 10px;
}

.contenedor_footer .caja4 {
    width: 150px;
    height: 80px;
    align-content: center;
    font-size: 10px;
}