.contenedor_footer{
    display: grid;
    width: 100%;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja3 caja4";
    color: black;
    position: absolute;
    bottom:0px;
    padding-top: 100px;
        a{
        color: black;
    
        }
    
        div{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .caja1 ,.caja2 ,.caja3 ,.caja4{

        background-color: #DFD4C8;
        text-align: center;
        justify-content:center;
        

        .img_footer{
            width: 15%;
            height:15%;
        }

        }

        .caja1{
            grid-area: caja1;
        }
        .caja2{
            grid-area:caja2;
        }
        .caja3{
            grid-area:caja3;
        }
        .caja4{
            grid-area:caja4;
        }
}