@media screen and (max-width: 900px) {


    /*nuevo  - como comprar  */
    .contenedor-como-comprar {
        background-color: #f0f0f0;
        ;
        display: grid;
        grid-template-rows: 1fr;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        row-gap: 5rem;

        .box1-como-comprar,
        .box2-como-comprar,
        .box3-como-comprar {
            height: 300px;
            width: 200px;
            text-align: center;
            align-items: center;

        }
    }

    /*# media queris talles , */
    .contenedor-talles {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

        .titulo-tarjeta {
            font-size: 15px;
            padding-bottom: 4px;
        }

        .imagen-talles {
            width: 70%;
            height: 50%;
        }

        .imagen-tabla-talles {
            width: 75%;
            height: 35%;
            padding: 3px;
        }
    }

    /* barra de filtro de tienda  */
    .barra-filtro {
        flex-direction: column;
        align-items: flex-start;
    }

    .contenedor-tienda {


        .tienda-item {
            grid-column: span 2;
        }

    }


    /*Footer*/


    .footer {
        font-size: small;
        position: absolute;
        bottom: 0px;

        .contenedor_footer {
            display: grid;
            position: absolute;
            bottom: 0px;
            grid-template-columns: 2fr 1fr 2fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "caja1 caja2 caja4"
                "caja1 caja3 caja4";

            .img_footer {
                width: 60%;
                height: 60%;
            }

        }

        .caja1,
        .caja2,
        .caja3,
        .caja4 {
            ul {
                li {
                    font-size: x-small;
                }
            }
        }
    }
}