@media screen and (min-width: 1024px) {

    .menu_item.active {
        background-color: #DFD4C8;
        border-radius: 10px;
        color: black;
        padding: 5px;
        margin: 5px;
    }

    .contenedor-talles {
        grid-template-columns: repeat(4, 1fr);
    }

}