@media screen and (min-width: 1024px) {

    .menu_item.active {
        background-color: #DFD4C8;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        color: black;
    }
    }